.Operations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Operation {
    width: auto;
    display: inline-block;
    margin: 16px;
    background-color: #e8e2f9;

    .Switch {
        margin-right: 10px;
    }
}

.CheckboxCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.FlexOptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}