.TableHeadCell {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .AutoWidth,
    .Move {
        cursor: pointer;
        margin: 0 2px 0 2px;
    }
}