/* .TableHead {
    display: block;
}

.colsVisible {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    background: #F9F9FB;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */

.colsVisibleElems {
    display: flex;
    flex-direction: row;
    align-items: center
}

.colsVisibleElem {
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 8px;
    margin-right: 5px;
    background-color: #F8F2FF;

    input {
        margin-right: 4px;
    }
}